{% extends 'index.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
                <div class="col-lg-10">
                <h1 class="text-center">Base 64</h1>
                <h1 class="text-center">Base 64 decode</h1>
                <hr>
                <p class="lead">Base 64 online hash function!</p>
                    <form method="post">
                        {% csrf_token %}
                        <p >Input crypto text*: </p>
                       {{ form|crispy }}
                        <input class="btn btn-outline-primary btn-sm" type="submit" value="Hash">
                    </form>
                <div class="form-group pt-4">
                    <p>Output*</p>
                       <p>{{output}}</p>
                    <p class="pt-4"></p>
               </div>
                <div>
                    <p >Base 64 </p>
                 <p class="text-black">In computer science, Base64 is a group of binary-to-text encoding schemes that represent binary data in an ASCII string format by translating it into a radix-64 representation. The term Base64 originates from a specific MIME content transfer encoding. Each Base64 digit represents exactly 6 bits of data.</p>
                </div>
                <div class="pt-5"></div>
            </div>
{% endblock %}